Repository itcen-project-2team/drawcen-web, pull requests merged in 2025-05, with the labels that each got.

#5 [feat] #4 - 패키지 구조 및 예시 파일
  package-lock.json
  package.json
  src/components/Button/Button.jsx
  src/components/Button/Button.module.css
  src/index.js
  src/pages/example/Example.jsx
  src/routes/AppRouter.jsx
  src/services/socketService.js
  src/services/userService.js
  src/stores/userStore.js
  src/styles/global.css
  src/utils/api.js
  src/utils/handleApiError.js
Labels: enhancement

#10 [feat] #2 - 게임 방 내부 ui 수정 / Canvas 그리기 시 마우스가 범위를 나갔다 와도 스트로크가 유지되도록 / 그리고 있는 유저 상태 추가
  src/pages/gameroom/Canvas.jsx
  src/pages/gameroom/Canvas.module.css
  src/pages/gameroom/ChatBox.module.css
  src/pages/gameroom/GameRoom.jsx
  src/pages/gameroom/GameRoom.module.css
  src/pages/gameroom/PlayerList.jsx
  src/pages/gameroom/PlayerList.module.css
  src/routes/AppRouter.jsx
Labels: ui, canvas, chat

#12 [feat] #9 - main 페이지 뷰 구현
  src/assets/pink.png
  src/pages/landingpage/LandingPage.jsx
  src/pages/main/Main.css
  src/pages/main/Main.jsx
  src/routes/AppRouter.jsx
Labels: ui

#14 [feat] #2 - 타이머 예제 코드 작성
  src/pages/gameroom/Canvas.module.css
  src/pages/gameroom/GameRoom.jsx
Labels: game
